body{
    text-align: center;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin: 10px;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    margin-top: 20px;
    margin-bottom: 20px;
    }
  #display_names_with_commas{
 background-color: blueviolet;
    width: 50%;
     padding: 10px;
    border-radius: 10px;
    border: 2px solid cyan;
    margin: 0px auto;
}
 #display_names_without_commas{
    background-color: rgb(121, 11, 11);    
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid rgb(226, 169, 12);
        margin: 0px auto;
    }